<div class="about-section">
    <h1>About Us </h1>
    <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc consequat magna at lacus vehicula finibus. Sed vitae libero odio. Nam sagittis sem ipsum, in ullamcorper sem gravida vitae. Cras eleifend elit vel eleifend aliquam. Sed accumsan lorem vitae odio ornare semper.</p>
</div>

<h2 style="text-align:left">We are a one man band selling second-hand audio, cables, and computing hardware online!</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="~/Images/One-man_band_street_performer.jpg" alt="onemanband" style="width:50%">
            <div class="container">
                <h2>Who are we?</h2>
                <p class="title">The Hardware Hub is directed by Dominic Love</p>
                <p>Donec urna tortor, dictum ac tincidunt a, ultrices eget augue. Curabitur id velit ut augue tempus pellentesque eu et dui. Fusce finibus nibh id hendrerit congue. Donec ut turpis sem.</p>
                <p>dominic@hardwarehub.co.uk</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>