<html>
<body>
    <script>

        function toggleElement(id) {
            if (document.getElementById(id).style.display == 'none') {
                document.getElementById(id).style.display = '';
            }
            else {
                document.getElementById(id).style.display = 'none';
            }
        }
    </script>

    <p>
        <a href="javascript:toggleElement('a1')" style="color:black;font-size:20px;">1. How do I order?</a>
    </p>
    <div id="a1" style="display:none">
        Nunc vel imperdiet orci. Fusce tristique eleifend mi, in auctor augue pulvinar at. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.
    </div>

    <p>
        <a href="javascript:toggleElement('a2')" style="color:black;font-size:20px;">2. How do I register?</a>
    </p>
    <div id="a2" style="display:none">
        Nunc egestas iaculis eros. Vivamus ante erat, hendrerit ac neque eu, pulvinar iaculis libero. Proin mollis, nibh at sollicitudin sagittis.
    </div>

    <p>
        <a href="javascript:toggleElement('a3')" style="color:black;font-size:20px;">3. How do I log out?</a>
    </p>
    <div id="a3" style="display:none">
        Mauris posuere blandit turpis, et tristique nibh dignissim nec. Aliquam erat volutpat. Phasellus scelerisque nisi placerat consectetur pellentesque. Donec cursus ac risus nec viverra. Curabitur quis vestibulum orci, a placerat erat. Nulla facilisi. Aenean blandit arcu at erat consectetur, eget fringilla sem tristique..
    </div>

    <p>
        <a href="javascript:toggleElement('a4')" style="color:black;font-size:20px;">4. What's your refund policy?</a>
    </p>
    <div id="a4" style="display:none">
        Morbi pharetra bibendum mattis. Nam commodo, est id auctor semper, nisl elit laoreet leo, eu efficitur purus sapien ac est. Sed sed sem metus. Nulla nulla nisi, feugiat quis arcu eu, iaculis gravida turpis..
    </div>

    <p>
        <a href="javascript:toggleElement('a5')" style="color:black;font-size:20px;">5. Are you really a one man band?</a>
    </p>
    <div id="a5" style="display:none">
        Ut scelerisque, metus in condimentum pretium, velit massa laoreet ligula, a iaculis nunc erat et orci. In eleifend arcu vel imperdiet interdum. Aenean at leo non est luctus dignissim. .
    </div>

    <p>
        <a href="javascript:toggleElement('a6')" style="color:black;font-size:20px;">6. Crunchy or smooth peanut butter?</a>
    </p>
    <div id="a6" style="display:none">
        Duis aliquet tristique magna, at luctus tellus eleifend ut. Sed quis urna ultrices mi convallis consequat sed id neque. Fusce quis felis at mauris vestibulum lacinia vitae.
    </div>

    <p>
        <a href="javascript:toggleElement('a7')" style="color:black;font-size:20px;">7. Can I sell my electronic hardware to you?</a>
    </p>
    <div id="a7" style="display:none">
        Quisque eu scelerisque diam. Sed mattis augue ac malesuada maximus. Phasellus eu vehicula ligula. Mauris consectetur odio eget erat ornare rhoncus. Phasellus nec metus id turpis varius aliquet sit amet vel nibh. In gravida porta cursus..
    </div>

    <p>
        <a href="javascript:toggleElement('a8')" style="color:black;font-size:20px;">8. I can't finish my payment, can you help?</a>
    </p>
    <div id="a8" style="display:none">
        Phasellus efficitur at enim interdum venenatis. Pellentesque vel turpis eget sapien dapibus luctus. Aliquam erat volutpat. Quisque varius augue at congue placerat. Nam faucibus congue blandit. Duis et hendrerit tortor..
    </div>

    <p>
        <a href="javascript:toggleElement('a9')" style="color:black;font-size:20px;">9. Do you accept cheques?</a>
    </p>
    <div id="a9" style="display:none">
        Nulla sed dapibus tellus. Suspendisse a nisi sed mauris pretium dictum. In venenatis nisl cursus, pretium lacus sit amet, efficitur magna.
    </div>

    <p>
        <a href="javascript:toggleElement('a10')" style="color:black;font-size:20px;">10. If you were an animal, what would you be?</a>
    </p>
    <div id="a10" style="display:none">
        Aenean luctus nulla est, quis aliquam leo hendrerit vel. Curabitur faucibus suscipit auctor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque dignissim ligula leo, at finibus enim elementum eu..
    </div>

</body>
</html>